.vscode/settings.json
.vscode/tasks.json
src/.vs/ProjectSettings.json
src/.vs/slnx.sqlite
src/.vs/VSWorkspaceState.json
src/.vs/src/FileContentIndex/1d98f7bf-c9ca-4e90-b7cf-1bd8817989f6.vsidx
src/.vs/src/FileContentIndex/4e312913-824a-41a7-ab2c-676bd9e0f5ad.vsidx
src/.vs/src/FileContentIndex/read.lock
src/.vs/src/v17/.wsuo
src/.vs/src/v17/Browse.VC.db
src/.vs/src/v17/ipch/AutoPCH/2e166abe8f82c67f/MAIN.ipch
src/.vs/src/v17/ipch/AutoPCH/39c0898a7a0118ad/MAIN.ipch
src/.vs/src/v17/ipch/AutoPCH/c1f93b353645691a/MENU.ipch
obj/date.o
obj/main.o
obj/employee/assistant.o
obj/employee/director.o
obj/employee/employee.o
obj/employee/mechanic.o
obj/menu/menu.o
obj/vehicle/bus.o
obj/vehicle/standard.o
obj/vehicle/truck.o
obj/vehicle/vehicle.o
obj/workshop/workshop.o
